/* Thin - 100 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Ultra Light - 200 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueUltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueUltraLightItal.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light - 300 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular - 400 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-MediumCondObl.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black - 900 */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaBlkIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}