:root {
    // Main Colors
    --main-color: #F4AC29;
    --main-color-op-50: rgb(244, 173, 41, 0.500);
    --main-color-gradient: linear-gradient(253deg, #F4AC29 9%, #f3a109 94%);

    // Bg
    --main-color-bg: #F6F2E6;
    --main-color-bg-2: white;
    --main-color-bg-3: black;
    
    // Text
    --main-color-text: #000;
    --main-color-text-2: #727272;
    
    // Borders
    --main-color-border: #000;
    --main-color-border-2: #707070;
    --main-color-border-3: hsla(0,0%,40%,.2);
}